*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  select {
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }


#contenedor {
    display: flex;
}
#contenedor {
    display: flex;
    gap: 16px;
}

section{
    padding: 30px;
    margin-left: 130px;
    width: 1170px;
    background-color: black;
}

#form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}


#form2{
    margin-left: 10px;
}
